@font-face {
    font-family: Moranga;
    src: url(./Fonts/moranga.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Bold.otf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Semibold.otf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Medium.otf);
}
          
          
          /* Boilerplate */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
}


            /* Page pre loader */

#pageload{
    height: 100vh;
    width: 100%;
    background: url(img/loader.gif) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8%;
    z-index: 100;
}



            /* Navigation Bar */



#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0px 40px;
}
#nav a{
    text-decoration: none;
}
#nav h3{
    letter-spacing: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "Moranga";
}
.resume-btn {
    right: 2vmax;
    top: 1vmax;
    z-index: 1111;
    padding: .9vmax 1.5vmax;
    border-radius: 5vmax;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1vmax #00f0fc;
    background: linear-gradient(to right, #7dfef8, #0ce6e6);
    box-shadow: 0 0 0.8vmax #1fa4c2;
    background: linear-gradient(to right, #1e6893, #236789);
    transition: 0.5s all;
}

.resume-btn a {
    font-size: 1.1vmax;
    background-color: inherit;
    font-family: gilroy;
    font-weight: 600;
}





              /* MouseMoving Animation */



#curser{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #dadada;
    position: fixed;
    z-index: 1;
    mix-blend-mode: difference;
}


                /* CSS for page1 */



#page1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    height: calc(100vh - 100px);
    width: 100%;
    padding: 30px;
}
#page1 img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    filter: brightness(0.8);
    cursor: pointer;
    /* border: 6px solid cornsilk; */
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;

}
#content h1{
    font-family: "Moranga";
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    font-size: 120px;
    line-height: 9vw;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
}
h1 span{
    color: #71edffb5;
}
#history{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 60px;
  width: 100%;
  color: #dadadac2;
  font-family: "Gilroy";
  
}
#history .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ffff;
    position: relative;
    right: -20px;
}
#history .circle i{
   font-size: 40px;
}
#history p{
   word-spacing: 1px;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 15px;
}



                /* css for page 2 */




#page2{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #000000d8 !important;
    
}
#page2 #about{
    padding: 100px;
    font-family: "Moranga";
}
#page2 p{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}




            /* css for page 3 */

     
            
#page3{
    background-color: #000000d8 !important;
    height: 100vh;
    padding: 30px 50px;
    font-family: "Gilroy";
}
#page3 h3{
    font-size: 60px;
    word-spacing: 5px;
}
h3 span{
    color: rgb(4, 252, 169);
}
#page3 h5{
    font-size: 30px;
}
.box{
    padding-top: 50px;
}

.box h4{
    font-size: 30px;
    border: 2px solid #ffff;
    width: fit-content;
    font-weight: 400;
    padding: 9px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.elem-div{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


.elem-div img{
    height: 100px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 5px;
}



         /* CSS FOR PAGE 4 */


         #page4{
            background-color: #0f0f0f;
            min-height: 100vh;
            width: 100%;
            position: relative;
            padding: 4.5vh 4.2vw;
        }
        
        #page4 h1 {
            /* text-align: center; */
            font-size: 4.6vmax;
            font-family: gilroy;
            margin-top: 1vmax;
            margin-bottom: 3.5vmax;
        }
        
        #page4 h1 span {
            color: #F6BA53;
            font-family: gilroy;
        }
        
        #craft a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            height: 72px;
            border-top: 2px solid #fff;
            padding: 0 3px;
            text-decoration: none;
        }
        
        #craft a:nth-last-child(1) {
            border-bottom: 2px solid #fff;
            margin-bottom: 5vmax;
        }
        
        #craft a h4 {
            font-size: 1.7vmax;
            position: relative;
            z-index: 99;
            transition: color ease-in 0.4s;
            width: 12%;
        }
        
        #craft a h5 {
            font-size: 1.8vmax;
            font-weight: 600;
            font-family: gilroy;
            width: 30%;
            position: relative;
            transition: color ease-in 0.4s;
            z-index: 99;
        }
        
        #craft a h6 {
            font-size: 1.6vmax;
            width: 30%;
            text-align: right;
            position: relative;
            z-index: 99;
            transition: color ease-in 0.4s;
        }
        
        #sliding-div {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            z-index: 9;
            width: 0%;
            transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
            background-color: #fff;
        }
        
        
        #craft a:hover #sliding-div {
            width: 100%;
        }
        
        #artworks a:hover h4 {
            color: #222;
        }
        
        #craft a:hover h5 {
            color: #222;
        }
        
        #craft a:hover h6 {
            color: #222;
        }
        
        



            /* CSS for Footer */



.footer{
    height: 10vh;
    width: 100%;
    padding-top: 20px;
    font-family: "Gilroy";
    font-size: 15px;
    text-align: center;
}
.footer h1{
    width: 100%;
}












        /* Responsiveness for page 1 */


@media (max-width: 1000px){
    #content h1{
        font-size: 100px;
    }
    #page1{
        height: fit-content;
    }
    #page2{
        height: fit-content;
    }
    #page3{
        height: fit-content;
    }
}

        /* Universal Resposiveness */


@media (max-width: 768px){


    #nav{
        padding:20px;
        width: 100%;
        height: fit-content;
    }
    #nav h3{
        letter-spacing: 0px;
        font-size: 25px;
    }
    #curser{
        display: none;
    }
    .resume-btn a{
        font-size: 15px;
    }




    /* Responsive page 1 */



    #page1{
        height: fit-content;
        width: 100%;
    }
    #content{
        width: 100%;
        padding: 20px 20px;
        /* background-color: #000; */
    }
    #content h1{
        font-size: 50px;
        line-height: 45px;
    }
    #history .circle, .work{
        display:none
    }
    #history p{
        font-family: "Gilroy";
        width: 100%;
        text-align: center;
    }



    /* Responsive Page 2 */




    #page2{
        height: fit-content;
        padding-bottom: 15px;
    }
    #page2 #about{
        padding: 0px 5px;
    }
    #about p{
       font-size: 20px;
    }



    /* responsive for page3 */


    #page3{
        height: fit-content;
        padding: 15px 30px;
    }
    #page3 h3{
        font-size: 40px;
        padding-bottom: 10px;
    }
    #page3 h5{
        font-size: 20px;
    }
    .box{
        padding-top: 25px;
    }
    .box h4{
        font-size: 20px;
        padding: 9px;
        margin-bottom: 20px;
    }

    .elem-div img{
        height: 80px;
        background: #fff;
        border-radius: 10px;
        padding: 7px 4px;
    }



    /* responsive page4 */

    @media (max-width:600px) {
        #page4 {
            background-color: #0f0f0f;
            min-height: 100vh;
            width: 100%;
            position: relative;
            padding: 4.5vh 4.7vw;
        }
    
        #page4 h1 {
            /* text-align: center; */
            font-size: 4vmax;
            font-family: gilroy;
            margin-top: 0vmax;
            margin-bottom: 5vmax;
        }
    
        #page4 h1 span {
            color: #F6BA53;
            font-family: gilroy;
        }
    
        #craft a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
            height: 70px;
            border-top: 2px solid #fff;
            padding: 0 2px;
        }
    
        #craft a:nth-last-child(1) {
            border-bottom: 2px solid #fff;
            margin-bottom: 5vmax;
        }
    
        #craft a h4 {
            font-size: 2.3vmax;
            position: relative;
            z-index: 99;
            transition: color ease-in 0.4s;
            width: 18%;
            /* background-color: red; */
        }
    
        #craft a h5 {
            font-size: 2vmax;
            font-weight: 600;
            font-family: gilroy;
            width: 33%;
            /* background-color: red; */
            position: relative;
            transition: color ease-in 0.4s;
            z-index: 99;
        }
    
        #craft a h6 {
            font-size: 1.9vmax;
            width: 29%;
            text-align: right;
            /* background-color: red; */
            position: relative;
            z-index: 99;
            font-family: gilroy;
            transition: color ease-in 0.4s;
        }
    
        #sliding-div {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            z-index: 9;
            width: 0%;
            transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
            background-color: #fff;
        }
    
    
        #craft a:hover #sliding-div {
            width: 100%;
        }
    
        #craft a:hover h4 {
            color: #222;
        }
    
        #craft a:hover h5 {
            color: #222;
        }
    
        #craft a:hover h6 {
            color: #222;
        }
    
    }


        /* responsive for footer */

        #footer{
            padding-bottom: 10px;
        }


 
}