*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#curser{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #dadada;
    position: fixed;
}
#page1{
    /* position: relative; */
    height: 100vh;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0px 40px;
}
#nav a{
    text-decoration: none;
}
#nav h3{
    letter-spacing: 3px;
    color: #dadadabe;
    font-family: 'Times New Roman', Times, serif;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding-top: 10px;
}
#navbar a{
    color: #ffffffcb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 70px - 60px);
}
#content h1{
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 800;
    word-spacing: 30px;
    letter-spacing: 10px;
    text-align: center;
    color: #dadada;
}
#history{
    position: relative;
    padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 60px;
  width: 100%;
  color: #dadadac2;
}
#history .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ffff;
    position: relative;
    right: -20px;
}
#history .circle i{
   font-size: 40px;
}
#history p{
   word-spacing: 1px;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 15px;
}
#page2{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    
}
#page2 img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    filter: brightness(0.7);
}
#page2 #about{
 display: flex;
 align-items: center;
 justify-content: center;
 
}
#txt{
    padding: 0px 30px;
    width: 50%;
}
#txt h6{
    text-transform: lowercase;
    color: #dadadac2;
    font-size: 15px;
}
#txt p{
    color: #dadadad0;
    font-family: 'Times New Roman', Times, serif !important;
}
#work{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
    padding-top: 100px;
    width: 100%;
}
#work h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 40px;
    color: #dadada;
}
#cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
    padding-top: 30px;
    text-align: center;
}
.samecard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    transition: all ease 1s;
}
.samecard a{
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    transition: all ease 1s;
}
.samecard:hover a, .samecard:hover{
    background-color: #dadada;
    color: #000;
}

#footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 0px 2vw;
    padding-bottom: 30px;
}
#leftftr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}
#rightftr{
    display: flex;
    gap: 20px;
}
#rightftr a {
    text-decoration: none;
    font-size: 15px;
    
}









@media (max-width: 1000px){
    #content h1{
        font-size: 100px;
    }
}


@media (max-width: 768px){

    #nav{
        padding: 0px 20px;
        width: 100%;
    }
    #curser{
        display: none;
    }
    #n1,#n2{
        display: none;
    }
    #page1{
        height: fit-content;
        width: 100%;
    }
    #content{
        width: 100%;
        height: fit-content;
        padding: 20px 20px;
        /* background-color: #000; */
    }
    #content h1{
        font-size: 40px;
    }
    #history{
        display:none
    }
    #page2{
        height: 100vh;
        width: 100%;
    }
  
    #page2 #about{
        flex-direction: column;
        text-align: center;
       }
       #txt{
        padding: 10px 20px;
        width: 100%;
    }
    #txt p{
        padding-bottom: 20px;
    }

    #content{
        width: 100%;
    }
    #about img{
        height: 150px;
        width: 150px;
    }
    #work{
        padding-top: 10px;
        flex-direction: column;
    }
    #work h3{
        border-top: 1px solid #ffff;
        padding-top: 20px;
        letter-spacing: 2px;
    }
    #cards{
        flex-direction: column;
        padding-top: 10px;
    }
    .samecard{
        margin: 10px;
        padding: 10px;
        width: 90%;
    }

 
}