@font-face {
    font-family: Moranga;
    src: url(./Fonts/moranga.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Bold.otf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Semibold.otf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Medium.otf);
}
          
          
          /* Boilerplate */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #141414;
  
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}




            /* Navigation Bar */



/* #nav{
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0px 40px;
}
#nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}
#nav h3{
    z-index: 1111;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: "Moranga";
}
#navbar{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}
#navbar a{
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffffd7;
    border-radius: 10px;
    padding: 2px 6px;
    
}
#navbar a:is(:link, :active, :visited).active{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.resume-btn {
    padding: .9vmax 1.5vmax;
    border-radius: 5vmax;
    border: 2px solid #fff;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
}

.resume-btn a {
    font-size: 1.1vmax;
    background-color: inherit;
    font-family: gilroy;
    font-weight: 600;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:900px){
    .checkbtn{
        display: block;
    }
    #navbar{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
    }
    #navbar a{
        display: block;
        font-size: 20px;
    }
} */



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ New Navbar ++++++++++++++++++++++++++++++++++++++++++++++ */
nav{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 99;
}
label span{
    color: #fff;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: "Moranga";
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style: none;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 9px;
    text-decoration: none;
}
a.active, a:hover{
    border-bottom: 1.5px solid #00ff6e;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.resume-btn {
    padding: 10px 10px;
    border-radius: 5vmax;
    border: 2px solid #fff;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
}

.resume-btn a {
    font-size: 17px;
    background-color: inherit;
    font-family: gilroy;
    font-weight: 600;
}
@media (max-width:952px) {
    label .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width:872px){
    label span{
           font-size: 10px;
           letter-spacing: 5px;
           font-family: cursive;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 50vh;
        background-color: #000000;
        top: 80px;
        left: -150%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 3px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background:none;
        color:#00ffc3
    }
    #check:checked ~ ul{
        left: 0;
    }

}

              /* MouseMoving Animation */



#curser{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #829AB6;
    position: fixed;
    z-index: 1;
    mix-blend-mode: difference;
}


                /* CSS for page1 */



#page1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    
    padding-bottom: 30px;
    
}

#content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 80px 90px;
    width: 100%;
}

.top-info h1{
    width: 400px;
    text-align: left;
    margin-inline: auto;
    /* text-transform: uppercase; */
    font-size: 50px;   
}
.top-info h1 span{
    color: rgb(84, 57, 40);
}
.top-info h1 span::after{
    content:  "";
    height: 34px;
    width: 1.8px;
    background-color: rgb(58, 55, 55);
    display: inline-block;
    margin-left: 3px;
}
.info{
    max-width: 950px;
    margin-inline: auto;
    text-align: center;
}
#history{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 100%;
  font-family: "Gilroy";
}



        /* Responsiveness for page 1 */


@media (max-width: 1000px){
    #page1{
        padding-top: 100px;
        height: fit-content;
    }
    .top-info h1{
        font-size: 35px;
        width: 300px;
    }
    #content .info{
        padding-top: 50px;
        padding-left: 0px;
    }
    #page2{
        height: fit-content;
        padding: 40px 0px;
    }
    #page2 #about p{
        font-size: 18px;
    }
    #page3{
        height: fit-content;
    }
}



/* Responsive page 1 */
@media (max-width:900px) {
#page1{
    padding-top: 100px;
    width: 100%;  
}
.top-info h1{
    width: 239px;
    font-size: 30px;
}
#content{
    padding: 20px 10px;
}
#history{
    flex-direction: column;
    gap: 15px;  
}
#history p{
    width: 100%;
    text-align: center;
}

}




            /* css for page 2 */

     
            
            #page2{
                position: relative;
                height: 100vh;
                padding: 40px 50px;
            }
            #page2 h3{
                font-size: 50px;
                font-family: "Moranga";
            }
            h3 span{
                color: rgb(4, 252, 169);
            }
            #page2 h5{
                font-size: 24px;
            }
            .box{
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 1.5vw;
                font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
                font-size: 12px;
            }
            .elem-div{
                border: 1px solid #dadada;
                border-radius: 10px;
                padding:10px;
                height: 210px;
                width: 210px;
                text-align: center;
            }
            .elem-div h2{
                font-size: 15px;
                padding-top: 2px;
            }
            .elem-div .addon{
                text-align: start;
                border: 1px solid #dadada;
                padding: 2.5px 8px;
                border-radius: 5px;
                width: fit-content;
                margin-bottom: 10px;
            }
            .elem-div img{
                height: 60%;
                filter: grayscale(60%);
            }
            .elem-div img:hover{
                filter: grayscale(0%) saturate(200%) blur(0.5px);
            }
            .tailwind img{
                padding-top: 20px;
                height: 60%;
            }

            
            

            
            
            
            
             /* responsive for page2 */
             @media (max-width:900px) {
             #page2{
                position: relative;
                height: fit-content;
                padding: 15px 30px;
            }
            #page2 h3{
                font-size: 40px;
                padding-bottom: 10px;
            }
            #page2 h5{
                font-size: 20px;
            }
            .box{
                margin-top: 20px;
            }
            .elem-div{
                padding:10px;
                height: 150px;
                width: 150px;
            }
            .elem-div img{
                height: 50%;
            }
            .tailwind img{
                padding-top: 10px;
                height: 40%;
            }
             }

             
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ About Page ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



#aboutPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  
    
}
#aboutPage #about{
    width: 80%;
}
#aboutPage h1{
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'moranga';
}

#aboutPage .sm-heading{
    text-transform: uppercase;
    font-size: 15px;
    padding: 2px 0px;
    color: #ffffff3c;
}
#aboutPage p{
    font-size: 18px;
}





    /* Responsive Page 3 */
    @media (max-width:900px) {
    #aboutPage{
        min-height: 100vh;
    }
    #aboutPage #about{
        padding: 0px 5px;
    }
    #about{
        padding: 10px 20px !important;
        width: 100% !important;
    }
    #about h1{
        font-size: 30px;
        margin-left: 8px;
        margin-bottom: 2px !important;
    }
    #about h1 span{
        font-size: 20px;
    }
    #about p{
       font-size: 18px;
    }

    }




         /* CSS FOR PAGE 3 */

    #page3{
        position: relative;
        min-height: fit-content;
        min-width: 100%;
        padding: 40px 50px;
        padding-bottom: 50px;

    }
    #page3 h1{
        font-family: "Moranga";
        font-size: 50px;
    }
    h1 span{
        color: rgba(0, 255, 255, 0.461);
    }
    #page3 .details{
        margin: 50px 100px;
    }
    .details h2{
        letter-spacing: 2px;
        font-size: 32px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
    .details h3{
        font-family: sans-serif;
        color: antiquewhite;
    }
    .details ol{
        margin-left: 17px;
        margin-top: 10px;
    }

    @media (max-width:1225px) {
        #page3{
            margin-top: 400px;
        }
        
    }

    @media (max-width:900px) {
        #page3{
            margin-top: 20px;
            padding: 10px;
            padding-bottom: 50px;
        }
        #page3 h1{
            font-size: 38px;
        }
        #page3 .details{
            margin: 10px;
        }
        .details h2{
            font-size: 22px;
        }

        
    }


         
        



            /* CSS for Footer */



.footer{
    height: 10vh;
    width: 100%;
    padding-top: 20px;
    font-family: "Gilroy";
    font-size: 15px;
    text-align: center;
}
.footer h1{
    width: 100%;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++ Project Styling ++++++++++++++++++++++++++++++++++++++++++  */

#projects{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects h1{
    margin-top: 35px;
    font-family: "Moranga";
    font-size: 43px;
}
.pr-cover{
    width: 95%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px 0px 30px 0px;
    padding: 100px 0px;
    gap: 60px;
}
.single-pr{
    width: 47%;
    height: 400px;
    min-height: 200px;
    border: 2px solid #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
iframe{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media (max-width:1024px) {
    #projects h1{
        margin-top: 100px;
        font-size: 25px;
    }
    .single-pr{
        width: 100%;
    }
    
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ Certificate Page ++++++++++++++++++++++++++++++++++++++++++++ */

#certificate{
    min-height: 130vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-certificate{
    width: 50%;
}
#certificate .single-cr{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px 0px;
}
.single-cr img{
    width: 100%;
}
#certificate a{
    text-decoration: none;
    color: #fff;
}

@media (max-width:900px) {
    #certificate{
        height: 100vh !important;
        align-items: flex-start;
        margin-top: 100px;
    }
    .all-certificate{
        width: 90%;
    }
}





        /* Universal Resposiveness */


@media (max-width: 768px){


        /* responsive for footer */

        #footer{
            padding-bottom: 10px;
        }

}